@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');


header{
    margin-top: 100px;
}

.container_formulario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}
.container_formulario img{
    padding-top: 25%;
    padding-left: 10%;
    transform: scale(1.3);
}
form{
 display: grid;
 gap: 12px;
}

input, select{
    height: 30px;
}

label{

      font-family: "Big Shoulders Stencil", sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

#titulo{
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}

